/* line 1, ../compass/sass/styles.scss */
body {
  background-color: white;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 5, ../compass/sass/styles.scss */
body .lego-set-pic img {
  max-width: 250px;
  overflow: hidden;
}
/* line 11, ../compass/sass/styles.scss */
body .part-pic img {
  max-width: 150px;
  overflow: hidden;
}
/* line 16, ../compass/sass/styles.scss */
body .search-button {
  margin-left: 10px;
}
/* line 19, ../compass/sass/styles.scss */
body .button-success,
body .button-error,
body .button-warning,
body .button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 27, ../compass/sass/styles.scss */
body .button-success {
  background: #1cb841;
  /* this is a green */
}
/* line 30, ../compass/sass/styles.scss */
body .button-warning {
  background: #df7514;
  /* this is an orange */
}
/* line 33, ../compass/sass/styles.scss */
body .button-error {
  background: #ca3c3c;
  /* this is a maroon */
}
/* line 36, ../compass/sass/styles.scss */
body .sort-buttons {
  margin-bottom: 10px;
}

/* line 41, ../compass/sass/styles.scss */
#views {
  margin-left: 200px;
}
