/* line 1, ../compass/sass/styles.scss */
body {
  background-color: white;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}
/* line 6, ../compass/sass/styles.scss */
body .sort-buttons .search-bar {
  height: 30px;
  padding: 5px;
  border: 1px solid #cecece;
}
/* line 12, ../compass/sass/styles.scss */
body .lego-set-info {
  width: 275px;
  border-radius: 5px;
  border: 1px solid #cecece;
  margin: 5px;
  box-shadow: 5px 5px 5px #888888;
  background-color: #fed500;
}
/* line 19, ../compass/sass/styles.scss */
body .lego-set-info .set-image-container {
  margin: auto;
  padding-top: 10px;
  width: 273px;
  height: 250px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px 5px 0px 0px;
  position: relative;
}
/* line 28, ../compass/sass/styles.scss */
body .lego-set-info .set-image-container .remove-button {
  margin-left: 5px;
  position: absolute;
  left: 5px;
  top: 10px;
  z-index: 1;
}
/* line 35, ../compass/sass/styles.scss */
body .lego-set-info .set-image-container img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  margin: auto;
  vertical-align: middle;
  max-width: 250px;
  max-height: 250px;
  overflow: hidden;
}
/* line 49, ../compass/sass/styles.scss */
body .lego-set-info .info-button-container {
  background-color: #fed500;
}
/* line 51, ../compass/sass/styles.scss */
body .lego-set-info .info-button-container .set-info-buttons {
  padding-top: 10px;
  text-align: center;
}
/* line 56, ../compass/sass/styles.scss */
body .lego-set-info .info-button-container .set-info p {
  line-height: 18px;
  text-align: center;
  margin: 10px;
}
/* line 64, ../compass/sass/styles.scss */
body .moc-image {
  border: 3px solid #fff;
  border-radius: 5px;
  max-width: 300px;
  max-height: 300px;
  margin: 10px;
}
/* line 72, ../compass/sass/styles.scss */
body .part-pic {
  width: 175px;
  height: 425px;
  border-radius: 5px;
  border: 1px solid #cecece;
  margin: 5px;
  background-color: rgba(206, 206, 206, 0.7);
}
/* line 80, ../compass/sass/styles.scss */
body .part-pic .part-image-container {
  text-align: center;
  margin: auto;
  padding-top: 10px;
  width: 173px;
  height: 175px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px 5px 0px 0px;
  position: relative;
}
/* line 90, ../compass/sass/styles.scss */
body .part-pic .part-image-container img {
  max-width: 150px;
  overflow: hidden;
}
/* line 96, ../compass/sass/styles.scss */
body .part-pic .part-info p {
  line-height: 18px;
  text-align: center;
  margin: 10px;
}
/* line 103, ../compass/sass/styles.scss */
body .search-button {
  margin-left: 10px;
}
/* line 106, ../compass/sass/styles.scss */
body .button-success,
body .button-error,
body .button-warning,
body .button-secondary {
  color: white;
  border-radius: 5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 114, ../compass/sass/styles.scss */
body .button-success {
  background: #1cb841;
  /* this is a green */
}
/* line 117, ../compass/sass/styles.scss */
body .button-warning {
  background: #df7514;
  /* this is an orange */
}
/* line 120, ../compass/sass/styles.scss */
body .button-error {
  background: #d01012;
  /* this is a maroon */
}
/* line 123, ../compass/sass/styles.scss */
body .button-secondary {
  background: #42b8dd;
  /* this is a light blue */
}
/* line 126, ../compass/sass/styles.scss */
body .sort-buttons {
  margin-bottom: 10px;
}

/* line 131, ../compass/sass/styles.scss */
#views {
  margin-left: 200px;
}

/* page specific animations ------------------------ */
/* home -------------------------- */
/* line 150, ../compass/sass/styles.scss */
.page-other.ng-enter {
  z-index: 100;
  -webkit-animation: fadeInRight 1s both ease;
  -moz-animation: fadeInRight 1s both ease;
  animation: fadeInRight 1s both ease;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
/* slide in from the right */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@-moz-keyframes slideInRight {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(0);
  }
}
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
  }
}
/* slide in from the bottom */
@keyframes slideInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@-moz-keyframes slideInUp {
  from {
    -moz-transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(0);
  }
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
  }
}
/* slide in from the bottom */
@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@-moz-keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@-webkit-keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
/* line 228, ../compass/sass/styles.scss */
.animate-enter,
.animate-leave {
  -webkit-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -moz-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -ms-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -o-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  position: relative;
  display: block;
}

/* line 240, ../compass/sass/styles.scss */
.animate-enter.animate-enter-active,
.animate-leave {
  opacity: 1;
  top: 0;
  height: 30px;
}

/* line 247, ../compass/sass/styles.scss */
.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  top: -50px;
  height: 0px;
}

/* line 256, ../compass/sass/styles.scss */
#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2.7em;
  margin-left: -2.7em;
  width: 5.4em;
  height: 5.4em;
  background-color: white;
}

/* line 267, ../compass/sass/styles.scss */
#hill {
  position: absolute;
  width: 7.1em;
  height: 7.1em;
  top: 1.7em;
  left: 1.7em;
  background-color: transparent;
  border-left: .25em solid black;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 281, ../compass/sass/styles.scss */
#hill:after {
  content: '';
  position: absolute;
  width: 7.1em;
  height: 7.1em;
  left: 0;
  background-color: white;
}

/* line 290, ../compass/sass/styles.scss */
#box {
  position: absolute;
  left: 0;
  bottom: -.1em;
  width: 1em;
  height: 1em;
  background-color: transparent;
  border: .25em solid black;
  border-radius: 15%;
  -webkit-transform: translate(0, -1em) rotate(-45deg);
  -moz-transform: translate(0, -1em) rotate(-45deg);
  -ms-transform: translate(0, -1em) rotate(-45deg);
  transform: translate(0, -1em) rotate(-45deg);
  animation: push 2.5s cubic-bezier(0.79, 0, 0.47, 0.97) infinite;
}

@keyframes push {
  0% {
    transform: translate(0, -1em) rotate(-45deg);
  }
  5% {
    transform: translate(0, -1em) rotate(-50deg);
  }
  20% {
    transform: translate(1em, -2em) rotate(47deg);
  }
  25% {
    transform: translate(1em, -2em) rotate(45deg);
  }
  30% {
    transform: translate(1em, -2em) rotate(40deg);
  }
  45% {
    transform: translate(2em, -3em) rotate(137deg);
  }
  50% {
    transform: translate(2em, -3em) rotate(135deg);
  }
  55% {
    transform: translate(2em, -3em) rotate(130deg);
  }
  70% {
    transform: translate(3em, -4em) rotate(217deg);
  }
  75% {
    transform: translate(3em, -4em) rotate(220deg);
  }
  100% {
    transform: translate(0, -1em) rotate(-225deg);
  }
}
