<div ng-controller="mainController" ng-init="getMocSearch()">
<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head"><img src="/images/output_YDAdzk.gif" alt=""></h1>
        <p class="splash-subhead">
            Find Lego sets.  Add them to your collection. Keep track of your parts inventory.
        </p>
        <p>
            <a href="http://purecss.io" class="pure-button pure-button-primary">Get Started</a>
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Keep track of all your Lego sets and parts inventory.</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    Get Started Quickly
                </h3>
                <p>
                    Simply search for Lego sets by description, set ID, theme or year made.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    Add to Your Collection
                </h3>
                <p>
                    Add all the sets you own to your collection and view the parts list for each set.  Sort your collection by year, pieces count or set ID.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    Track Your Inventory
                </h3>
                <p>
                    View all the parts in your inventory so you know what is available for the MOC (My Own Creation) you are desigining.  Search for a specific part and sort by color, quantity, part ID or element ID.
                </p>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img class="pure-img-responsive moc-image" alt="File Icons" width="300" ng-src="{{mocImage}}">
            <img class="pure-img-responsive moc-image" alt="File Icons" width="300" ng-src="{{mocImage2}}">
            <img class="pure-img-responsive moc-image" alt="File Icons" width="300" ng-src="{{mocImage3}}">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">Build Your MOCs with Confidence.</h2>

            <p class="ribbon-content">
                When designing and building your next MOC feel confident in the fact that you know exactly what Lego parts in your inventory.  Search by color, ID and description to find the exact part you are looking for to complete your next masterpiece.
            </p>
        </div>
    </div>

    <div class="content">
        <h2 class="content-head is-center">Register now to start using Blockhead.</h2>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked">
                    <fieldset>

                        <label for="name">Your Name</label>
                        <input id="name" type="text" placeholder="Your Name">


                        <label for="email">Your Email</label>
                        <input id="email" type="email" placeholder="Your Email">

                        <label for="password">Your Password</label>
                        <input id="password" type="password" placeholder="Your Password">

                        <button type="submit" class="pure-button">Sign Up</button>
                    </fieldset>
                </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4>Contact Us</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>

                <h4>More Information</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>

    </div>

    <div class="footer l-box is-center">
        View the source of this layout to learn more. Made with love by the YUI Team.
    </div>

</div>
</div>